.box1 {
	width: 700px;
	height: 400px;
	background-color: #8CB27C; 

}

.box1-1 {
	width: 650px;
	height: 350px;
	background-color: #8CB27C;
	position: absolute;
	left: 30px;
	top: 30px;
	border: 2px solid white;

}

.box1-1-1 {
	width: 30px;
	height: 100px;
	background-color: #8CB27C;
	position: absolute;
	top: 110px;
	left: -2px;
	border: 2px solid white;
}

.circle{
	width: 100px;
	height: 100px;
	background-color: #8CB27C;
	-moz-border-radius: 50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    right: 300px;
    border: 2px solid white;
}

.box1-1-2 {
	width: 30px;
	height: 100px;
	background-color: #8CB27C;
	position: absolute;
	top: 110px;
	left: 618px;
	border: 2px solid white;
}

.ball1 {
	position: absolute;
	top: 20px;
	right: 40px;	
}

.ball2 {
	position: absolute;
	top: 40px;
	right: 80px;

}

.ball3 {
	position: absolute;
	top: 80px;
	right: 160px;

}